# ARIPIE creds
//localhost:8086/npm/:_authToken=${ARTIPIE_NPM_TOKEN}
# NPM creds
//registry.npmjs.org/:_authToken=${NPM_PAT_TOKEN}

# auth-type=legacy  # should use user:password
# auth-type=web  # npm9 with totken - default

logs-max=0
always-auth = true
loglevel=silly
